.auth-body {
    min-height: 100vh;
    margin: 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: sans-serif;
    background-color: #f0f2f5;
    background-image: url('/websitebackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.auth-container {
    background-color: #000000;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    width: 90%; 
    text-align: center;
    opacity: 90%;
    border: 5px solid #8b0000; 
}

.auth-container h1 {
    color: #ffd700;
    margin-bottom: 25px;
}

.auth-container p.error-msg { 
    color: #e74c3c;
    margin-bottom: 15px;
    font-weight: bold;
}

.auth-container div {
    margin-bottom: 15px;
    text-align: left; 
}

.auth-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.auth-container input[type="text"],
.auth-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.auth-container button {
    background-color: #8b0000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.auth-container button:hover {
    background-color: #0056b3;
}

.login-link {
    margin-top: 15px;
    color: white;
}
.login-link a {
    color: #4da6ff;
}
